h1 {
    padding: 10%;
    text-align: center;

}

div.buttons {
    height: 23%;
    background-color: #8597a3;
}

div.banner {
    background-color: #fed038;
}

div.description{
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 5%;
}

a.login{
    text-decoration: none;
    float: right;
    background-color: black;
    color: white;
    text-align: center;
    margin: 1%;
    padding: 0.5em 0em;
    width: 8%;
    border-radius: 4px;

}

a:hover{
    color: white;
}
