h1 {
    padding: 10%;
    text-align: center;

}

div.buttons {
    height: 23%;
}

div.banner {
    background-color: #fed038;
}

div.description{
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 5%;
}

a.registration{
    text-decoration: none;
    float: right;
    background-color: black;
    color: white;
    text-align: center;
    margin: 1em;
    padding: 0.5em 2em;
    border-radius: 4px;

}
div.login{
    text-align: center;
    margin: auto;
    width: 50%;
    position: relative;
    top: -3em;
}
a.login{
    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    padding: 0.5em 2em;
    font-size: 3em;
    border-radius: 3em;
}

a:hover{
    color: white;
}
