<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/base.css" type="text/css">
    <link rel="shortcut icon" href="../static/images/full_size_logo.png">
    <title>Запиши свои достижения!</title>
</head>
<body>
    <div class="banner">
        <div class="buttons">
            <div class="login">
                <a href="registration" class="login">Регистрация</a>
            </div>
        </div>
        <h1>Онлайн резюме - быстрый и удобный способ сохранить свои достижения и рассказать о них миру</h1>
    </div>
    <div class="description">
        <h4>Что можно найти?</h4>
        <h6>Резюме других пользователей. Намного лучше дать ссылку на профиль с резюме для внезапного собеседования, чем делать его ночью.
            Или вдруг вам в команду программистов нужен выпускник определённого вуза.</h6>
        <br>
        <h4>Как использовать?</h4>
        <h6>Для начала создайте аккаунт.
            У вас будет два режима: личный и общественный.
            В личном вы можете хранить абсолютно любые ваши достижения: от посадки дерева до взятия олимпийского золота.
            В общественном вы можете хранить только то, что хотите показать другим пользователям: образование, победы в различных мероприятиях.</h6>
    </div>
</body>
</html>