<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/page.css" type="text/css">
    <title>OnlineResumeService</title>
</head>
<body>
<a href="../login" class="main">Назад</a>
<div class="container">
    <div class="tape">
        <h1>{{ user.name }}</h1>
        {% for item in user.achivements %}
        {% if not item.private %}
        <h2>&bull; {{ item.title }}</h2>
        <textarea class="description" readonly>{{ item.description }}</textarea>
        {% if pictures[item.id] %}
        <img src="{{ url_for('static', filename=pictures[item.id]) }}" alt="Что-то пошло не так">

        {% endif %}
        {{ item.date }}
        <br>
        {% endif %}
        {% endfor %}
    </div>
</div>
</body>
</html>