<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/page.css" type="text/css">
    <title>{{ user.name }}</title>
</head>
<body>
    <div class="container">
        <div class="tape">
            <h1>{{ user.name }}</h1>
            {% for item in user.achivements %}
                {% if not item.private %}
                    <h2>&bull; {{ item.title }}</h2>
                    <textarea class="description" readonly>{{ item.description }}</textarea>
                    <br>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>